body {
  font-family: sans-serif;
  margin: 0;
}
.main-heading {
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
  font-size: 30px;
}

.todo-container {
  max-width: 800px;
  box-shadow: 1px 1px 1px #f5fffa;
  padding: 36px 24px 54px 24px;
  background: whitesmoke;
  color: black;
  margin: auto;
  height: 100vh;
}

.form-label {
  overflow: hidden;
  font-size: 24px;
  color: #ffa500;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin: 16px 0;
  box-sizing: border-box;
  display: inline-block;
  outline: none;
  font-size: 20px;
}

.todo {
  padding: 12px 0;
  border-bottom: 1px solid #c8ccce;
  cursor: pointer;
  user-select: none;
  font-size: 20px;
}

.remove-item-cross {
  float: right;
  padding-right: 10px;
}
.update {
  width: 100%;
  padding: 10px;
  margin: 16px 0;
  display: inline-block;
  outline: none;
  border: 0;
}
