.container {
  margin: 0 auto;
  width: 40%;
 }
 .header {
  color: rgba(175,47,47,0.15);
  text-align: center;
  font-size: 4.2rem;
   line-height: 110%;
   margin: 2.8rem 0 1.68rem 0;
    
 }
 
 .collection-item{
  line-height: 1.5rem;
  padding: 10px 20px;
  margin: 0;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  overflow: hidden;
  position: relative;;
 }
 .text {
  height: 3rem;
  width: 100%;
  font-size: 16px;
  margin: 0 0 8px 0;
  padding: 0;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  text-align: center;
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
 }
 .collection-item:hover {
  background-color: whitesmoke;
}


.remove {
  position: absolute;
  right: 10px;
  cursor: pointer;
  margin: 0 7px;
}
.update {
  background-color: transparent;
  border: 0;
   font-size: 18px;
  outline: none;
}
